ol{
    padding: 0;
}
.btn-dark{
      margin-left: 9px;
}
.btn1{
    border-radius: 100%;
    background-color: red;
    color: white;
    font-weight: lighter;
    float: right;
}
li{
    padding: 1%;
    border: solid grey 1px;
    list-style-position: inside;
    width: 90vw;
    margin: auto;
}
.input {
    width: 85vw;
}
#input{
    margin: auto;
    width: 90vw;
}